input{
    padding:15px;
    margin:10px ;
    margin-top:10px;
    display:block;
    text-align:centre;
    border-radius: 10px;
    height:40px;
    border-color: linear-gradient(45deg, red , rgb(0, 55, 255));
    
  }
  .form-container{
    margin:90px;
    padding:0px;
    text-align:center;
    margin: left 300px;
  }
   .form-container.button{
  margin-top: 100px;
   } 
  .farmerForm{
    margin:50px;
   display:block;
   text-align:center;
    top:-50px;
    box-sizing:border-box;
    position:relative;
    left:370px;
  }
  
  .success-message{
    color:green;
  }
  .plotForm{
    margin:50px;
    display:block;
    text-align:center;
     top:-50px;
     box-sizing:border-box;
     position:relative;
     left:370px;
  }
  .bttttn{
    margin-top:20px;
  }
  
  
  